@import "tailwindcss";

.logo{
  font-family: "Meow Script", cursive;
  font-size: 40px;
}
.search{
  border-radius: 20px;
}
.hero{
  width: 100%;
  height:100vh;
  background-image: url(./assets/bloom.webp);
  background-repeat: no-repeat;
background-position: center;
  background-size: cover;
 
}